body {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	
	margin: 0;
	
	background-color: #fff;
}

div#wrapper {
	width: 640px;
	margin: 0 auto;
	margin-bottom: 20em;
}

div.settings-panel {
	margin: 8em 0 8em 0;
}

div.cblock {
	margin: 60px 0 0 0;
}

span.label {
	display:inline-block;
	width: 140px;
}

input.colorrange {
	width: 400px;
}

div.radio-mode {
	display: block;
	float: left;
	width: 46%;
	height: 240px;
	padding: 1%;
	margin: 1%;
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	
}

div#radio-mode-div {
	margin: 10px 0 0 0;
	overflow:hidden;
}

div.radio-mode:hover {
	opacity: 0.75;
}

div.radio-mode:active {
	opacity: 1.0;
}

div.radio-mode span {
	font-weight: bold;
	font-size: 18px;
	color: #eee;
	text-shadow: 0px 0px 3px rgba(64, 64, 64, 1);
}

div.mood-setting {
	margin: 0 0 12px 0;
}

div.mood-setting input {
	width: 6em;
	font-size: 125%;
}

div.mood-setting span {
	display: inline-block;
	width: 8em;
}

div.mood-setting span:not(first-of-type) {
	margin: 0 0 0 2em;
}

button {
	font-size: 125%;
}

input.time-input.error {
	background-color: #e00;			
}

div.colorgauge {
	width: 80%;
	height: 64px;
	border: 0px solid #ccc;
	background: #ccc;
	border-radius: 8px;
	margin: 0 auto;
}

div.colorgauge span.fill {
	display: block;
	height: 100%;
	width: 0%;
	border-radius: 8px;
	box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.50);
}

div.colorgauge span.fill.red {
	background-color: #e00;
	background: linear-gradient(135deg, #cf0404 0%,#ff3019 100%);
}

div.colorgauge span.fill.green {
	background-color: #0e0;
	background: linear-gradient(135deg, #398235 0%,#8ab66b 56%,#c9de96 100%);
}

div.colorgauge span.fill.blue {
	background-color: #00e;
	background: linear-gradient(135deg, #05abe0 0%,#53cbf1 60%,#87e0fd 100%);
}

div.network-data {
	padding: 1em 0;
}

div.network-data label {
	display: inline-block;
	min-width: 12em;
}

div.info-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	font-size: 24px;
	border-bottom: 2px solid #333;
	background-color: #999;
	color: #eee;
	text-align: center;
	transition: transform 0.5s, opacity 0.5s;
	transform: translate(0, -2em);
	opacity: 0.0;
}

div.info-box.show {
	transform: translate(0, 0);
	opacity: 1.0;
}

div.info-box span.text {
	vertical-align: center;
	line-height: 2em;
}

div.info-box.error {
	background-color: #e43;
	border-bottom: 2px solid #620;
	color: #555;
}

div.info-box.warning {
	background-color: #ed3;
	border-bottom: 2px solid #660;
	color: #777;
}

div.info-box.info {
	background-color: #3c3;
	border-bottom: 2px solid #060;
}

